<header>
    <script src="https://kit.fontawesome.com/cf8d1ab41e.js" crossorigin="anonymous"></script>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom"  >
        <a routerLink="" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <h1 class="fs-4" style="color: rgb(84, 35, 130); font-display:inherit;" >Tienda MG</h1>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="btn btn-light" routerLink="misdatos" routerLinkActive="active">Mis Datos</a>
            <a class="btn btn-light" routerLink="miscompras" routerLinkActive="active">Mis Compras</a>
            <a class="btn btn-light" routerLink="carrito"> Carrito </a>
        </nav>
    </div>
</header>