<div>
    <h4>Estos son los productos agregados al carrito:</h4>
    <button (click)="actualizar()"> Actualizar </button>
    <button (click)="vaciar()" class="margen2" [hidden]="Articuloscarrito.length==0"> Vaciar carrito </button>
    
    <ng-container *ngFor="let Articulo of Articuloscarrito">
        <app-articulo [Articulo]="Articulo"></app-articulo>
    </ng-container>

    <button (click)="comprar()" class="margen2" id="comprar" [hidden]="Articuloscarrito.length==0"> Comprar </button>
    
   
</div>