<div id="page-content-wrapper"   id="padmain">

<h4 (filtrochange)="actualizar()">Articulos:</h4>
<br>
<ng-container *ngIf="devolucionarts && devolucionarts.length>0">
<ng-container *ngFor="let Articulo of devolucionarts" (filtrochange)="actualizar()">  <!-- Solo funciona con la lista Artuculos, la devuelta por http no-->
<ng-container *ngIf="Articulo.getTipo()==filtro || filtro=='todos' " >   <!-- *ngIf="Articulo.getStock()>0" no puedo colocarlo pq hasta que no vuelve el observable tira error-->
   <app-articulo [Articulo]="Articulo"  ></app-articulo>
</ng-container>
</ng-container>

 </ng-container>
</div>
<ng-container *ngIf="devolucionarts && devolucionarts.length>0">
<button style="margin-top:  10px; margin-bottom: 50px;"  (click)="actualizar()" class="btn btn-outline-success btn-lg" id="comprar"  > + Agregar Articulo </button>
</ng-container>


<app-formularioarticulo [hidden]="bandera"></app-formularioarticulo>


