<div id="page-content-wrapper"   id="padmain">

<h4 (filtrochange)="actualizar()">Articulos:</h4>
<br>
<ng-container *ngIf="devolucionarts && devolucionarts.length>0">
<ng-container *ngFor="let Articulo of devolucionarts" (filtrochange)="actualizar()">  <!-- Solo funciona con la lista Artuculos, la devuelta por http no-->
<ng-container *ngIf="Articulo.getTipo()==filtro || filtro=='todos' " >   <!-- *ngIf="Articulo.getStock()>0" no puedo colocarlo pq hasta que no vuelve el observable tira error-->
   <app-articulo [Articulo]="Articulo"  ></app-articulo>
</ng-container>
</ng-container>

 </ng-container>
</div>
<ng-container >
<button style="margin-top:  10px; margin-bottom: 50px;"  (click)="actualizar()" class="btn btn-outline-success btn-lg" id="comprar"  > + Agregar Articulo </button>
</ng-container>


<app-formularioarticulo [hidden]="bandera" ></app-formularioarticulo>

<div>
<ng-container *ngIf="devolucionarts && devolucionarts.length>0" >
   <button style="margin-top:  10px; margin-bottom: 50px;"  (click)="actualizar2()" class="btn btn-outline btn-danger  btn-lg" id="eliminar"  > + Eliminar Articulo </button>
   </ng-container>
   </div>

   <div class="mb-2">
      <ng-container  >
         <form (ngSubmit)="submit()" [hidden]="banderaeliminar">
      <label class="form-label">
         <strong>Nombre</strong> 
      </label>
      <input type="text" id="name" [(ngModel)]=" nombrealiminar" name="name" required placeholder="campera" >
      <button type="submit">Eliminar</button>
   </form>
   </ng-container>
   
   </div>

