<div class="bg-light border-right"  id="sidebar-wrapper">
    
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-light">Remeras</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Pantalones</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Abrigos</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Verano</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Invierno</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Sale</a>
    </div>

</div>