#sidebar-wrapper {
    width: 100%;
   
    top: 0;
    left: 2;
    height: 100%;
    z-index: 1000;
    overflow-y: auto;
    background-color: #f8f9fa;
  }

  .custom-cursor:hover {
    cursor: pointer;
  }


  .highlight {
    font-weight: bold; /* O el estilo que desees para el texto resaltado */
    color: rgb(146, 52, 132); /* Ejemplo de color para el resaltado */
  }

  .r.active{
    color: rgb(16, 6, 6); /* Color del texto del enlace activo */
    font-weight: bold; /* Hacer el enlace activo en negrita */
  }
  
  