<div class="bg-light border-right"  id="sidebar-wrapper">
    
    <div class="list-group list-group-flush">
      <a  routerlink="" (click)="filtrar('Remera')" class="list-group-item list-group-item-action bg-light custom-cursor"  >Remeras</a>
      <a routerlink="" (click)="filtrar('Pantalon')" class="list-group-item list-group-item-action bg-light custom-cursor" >Pantalones</a>
      <a routerlink="" class="list-group-item list-group-item-action bg-light custom-cursor"  >Abrigos</a>
      <a routerlink="" class="list-group-item list-group-item-action bg-light custom-cursor"  >Verano</a>
      <a routerlink="" class="list-group-item list-group-item-action bg-light custom-cursor"  >Invierno</a>
      <a routerlink="" class="list-group-item list-group-item-action bg-light custom-cursor" >Sale</a>
    </div>

</div>