<div class="bg-light border-right"  id="sidebar-wrapper">
    
    <div class="list-group list-group-flush">
      <a [routerLink]="['/home', 'remera']"  (click)="filtrar('remera')" class="list-group-item list-group-item-action bg-light custom-cursor, r" routerLinkActive="active" > Remeras</a>
      <a [routerLink]="['/home', 'pantalon']" (click)="filtrar('pantalon')" class="list-group-item list-group-item-action bg-light custom-cursor, r" routerLinkActive="active" >Pantalones</a>
      <a [routerLink]="['/home', 'abrigo']"  (click)="filtrar('abrigo')" class="list-group-item list-group-item-action bg-light custom-cursor, r" routerLinkActive="active" >Abrigos</a>
      <a [routerLink]="['/home', 'verano']" (click)="filtrar('verano')" class="list-group-item list-group-item-action bg-light custom-cursor, r" routerLinkActive="active" >Verano</a>
      <a [routerLink]="['/home', 'invierno']" (click)="filtrar('invierno') "class="list-group-item list-group-item-action bg-light custom-cursor, r"  routerLinkActive="active">Invierno</a>
      <a [routerLink]="['/home', 'todos']" (click)="filtrar('todos')" class="list-group-item list-group-item-action bg-light custom-cursor, r" routerLinkActive="active">Todos</a>
    </div>

</div>