
<div>
    <ng-container *ngIf="!banderausuarioiniciado ">
    <div>
    <h4> Ya esta registrado?</h4>
    <button style="margin-top:  10px; margin-bottom: 50px;"  (click)="Iniciardirecto()" class="btn btn-outline-success btn-lg" id="comprar" routerLink="section-a" > Iniciar sesion </button>
    </div>


    <div>
    <router-outlet></router-outlet>
    </div>
    


    <div>
    <ng-container *ngIf=" banderausuarioiniciado || !yaregistrado" >
    <app-formulario  ></app-formulario>
    </ng-container>

    </div>

    
</ng-container>
</div>

<div>
    <ng-container *ngIf="banderausuarioiniciado">
      <div class="card">
          <div class="card-body" [hidden]="!banderausuarioiniciado" >
             <h4>Bienvenido <strong style="color: rgb(90, 52, 125);">{{nombreusuario}}</strong>, ya podes realizar y revisar tus compras. </h4> 
          </div>
      </div>
      </ng-container>
 </div>

      <ng-container *ngIf="banderausuarioiniciado">
        <button class="btn btn-light" (click)="cerrarsesion()"   style="background-color: rgb(170, 113, 223); margin-top: 20px;" routerLink="misdatos" routerLinkActive="active">Cerrar sesion</button>
        </ng-container>



