<div [hidden]="bandera2">
    Ingrese sus datos para terminar la compra <br>

<div class="card">
    <div class="card-body" [hidden]="bandera2"  >
        <strong> Por favor Ingrese sus datos</strong> <br>
        <form action="" style="padding-top: 10px;" [formGroup]="formulariodecompra" (ngSubmit)="procesar()">
            <div class="mb-2">
            <label class="form-label">
                Direccion de envio
            </label>
            <input type="text" class="form-control" formControlName="direccion" placeholder="por favor ingrese su direccion de envio" >
            <div class="alert alert-danger mt-2" [hidden]="formulariodecompra.get('direccion')?.valid || formulariodecompra.get('direccion')?.pristine" >   <!-- [hidden]="nombre.valid || nombre.pristine" -->
              
                La direccion es obligatorio
            </div>
        </div>

        <div class="mb-2">
            <label class="form-label">
                Tarjeta
            </label>
            <input type="text" formControlName="tarjeta" class="form-control" placeholder="por favor ingrese su tarjeta"  >
            <div class="alert alert-danger mt-2" [hidden]="formulariodecompra.get('tarjeta')?.valid || formulariodecompra.get('tarjeta')?.pristine" >   <!-- [hidden]="nombre.valid || nombre.pristine" -->
              
                La tarjeta es obligatorio, debe contener 12 caracteres
            </div>
        </div>
        
        
        <div class="mb-2">
            <label class="form-label">
                Email
            </label>
            <input type="email" formControlName="email" class="form-control" placeholder="por favor ingrese su email">
            <div class="alert alert-danger mt-2" [hidden]="formulariodecompra.get('email')?.valid || formulariodecompra.get('email')?.pristine" >   <!-- [hidden]="nombre.valid || nombre.pristine" -->
              
                El mail es obligatorio
            </div>
        </div>
        <button class="btn btn-primary" [disabled]="formulariodecompra.invalid"> Finalizar Compra </button>
    </form>
    </div>
</div>

</div>
<div  [hidden]="!bandera2">
 <h1 style="color: rgb(21, 217, 21);"> Muchas Gracias por su compra :)</h1>
</div>